.ui.container
  .ui.relaxed.divided.items
  - @tournaments.each do |tournament|
    .item
      .ui.medium.image
        = image_tag tournament.image.url(:medium)
      .content
        = link_to tournament.name, tournament
        .meta
          %p
            Date: 
            = tournament.date        
        .description
          %p
            Venue:
            = tournament.venue        
        .description
          = tournament.more_information.html_safe        
        .extra
          %p
            Registration Ends On:
            = tournament.registration_deadline
        .extra
          = link_to 'Edit', edit_tournament_path(tournament)
          = link_to 'Destroy', tournament, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tournament', new_tournament_path
