.row
  =form_tag girls_players_path, :method=>'get' do
    .medium-5.columns
      = text_field_tag :search, params[:search]
    .medium-1.columns.end.float-right
      = submit_tag "Search", :name =>nil, class: 'round button tiny' 

.row
  %table
    %thead
      %tr
        %th Fideid
        %th Name
        %th Rating
        %th K
        %th Rapid
        %th Blitz
        %th Birthday
        %th Flag
        %th
        %th
        %th

    %tbody
      - @players.each do |player|
        %tr
          %td= player.fideid
          %td= player.name
          %td= player.rating
          %td= player.k
          %td= player.rapid unless player.rapid <= 0
          %td= player.blitz unless player.blitz <= 0
          %td= player.birthday
          %td= player.flag
          %td= link_to 'Show', player
          %td= link_to 'Edit', edit_player_path(player)
          %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = paginate @players