= flash[:notice]

.ui.container
  .ui.center.aligned.header
    .blue.ui.buttons.medium
      = link_to "Active Players", players_path, class:'ui button'
      = link_to "Women", women_players_path, class:'ui blue basic button'
      = link_to "Juniors", juniors_players_path, class:'ui blue basic button'
      = link_to "Girls", girls_players_path, class:'ui blue basic button'
      = link_to "All Players", all_players_path, class:'ui blue basic button'

  .ui.tertiary.form.segment
    =form_tag players_path, class:'ui form', :method=>'get' do
      .field.ui.left.icon.input
        = text_field_tag :search, params[:search], placeholder: 'Search...', :name =>nil
        %button.ui.action.button.right.attached.playersearch       
          %i.search.icon 

  .ui.container
    %table.ui.celled.table
      %thead
        %tr
          %th FideID
          %th Name
          %th Title
          %th Rating
          %th K-Factor
          %th Rapid
          %th Blitz
          %th Birthday

      %tbody
        - @players.each do |player|
          %tr
            %td= player.fideid
            %td= link_to player.name, player
            %td= player.title
            %td= player.rating
            %td= player.k
            %td= player.rapid unless player.rapid <= 0
            %td= player.blitz unless player.blitz <= 0
            %td= player.birthday
    = paginate @players

  %br

  = link_to 'New Player', new_player_path

  .ui.segment
    %h4 Import a CSV File
    = form_tag import_players_path, multipart: true do
      = file_field_tag :file
      = button_tag "Import CSV", type:'submit', class:'ui button'
