.ui.container
  .ui.center.aligned.header
    .ui.buttons.medium
      = link_to "Active Players", players_path, class:'ui button inactive-btn'
      = link_to "Women", women_players_path, class:'ui blue button'
      = link_to "Juniors", juniors_players_path, class:'ui button inactive-btn'
      = link_to "Girls", girls_players_path, class:'ui button inactive-btn'
      = link_to "All Players", all_players_path, class:'ui button inactive-btn'

  .ui.tertiary.form.segment
    =form_tag women_players_path, class:'ui form', :method=>'get' do
      .field.ui.left.icon.input
        = text_field_tag :search, params[:search], placeholder: 'Search...'
        %button.ui.action.button.right.attached.playersearch       
          %i.search.icon
  .ui.container.ratingscontainer
    %table.ui.celled.table
      %thead
        %tr
          %th FideID
          %th Name
          %th Title
          %th Rating
          %th K-Factor
          %th Rapid
          %th Blitz
          %th Birthday

      %tbody
        - @players.each do |player|
          %tr
            %td= player.fideid
            %td= link_to player.name, player
            %td= player.title
            %td= player.rating
            %td= player.k
            %td
              - if player.rapid <= 0
                = '-'
              - else
                = player.rapid
            %td
              - if player.blitz <= 0
                = '-'
              - else
                = player.blitz
            %td= player.birthday
    = paginate @players