= form_for @post, html:{class:'ui form directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
    = f.submit 'Upload picture', class:'ui submit button' 
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :content
    = f.cktext_area :content, :class => 'ckeditor'
  .actions
    = f.submit 'Save', class:'ui submit button'
