.ui.container
  %h3 Listing posts

  .ui.container
    .ui.relaxed.divided.items
    - @posts.each do |post|
      .item
        .ui.medium.image
          = image_tag post.image.url(:small)
        .content
          = link_to post.title, post
          .meta
            %p
              = post.created_on.to_date        
          .ui.text.container
            .ui.segment
              = post.content.html_safe        
          .extra
            = link_to 'Edit', edit_post_path(post)
            = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
  .ui.segment
  = link_to 'New Post', new_post_path
