.ui.grid.container
  .ui.relaxed.divided.items.two.column.row
    - @posts.each do |post|
      .item.row
        .ui.medium.image.column
          = image_tag post.image.url(:small)
        .content.column
        
                
          .ui.text.container
            .ui.segment
              = link_to post.title, post
              = post.content.html_safe 
              .meta
                %p Posted On:
                = post.created_at.to_date       
              .extra
                = link_to 'Edit ', edit_post_path(post)
                = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
  .ui.segment
    = link_to 'New Post', new_post_path
