.ui.grid.container.segment.maincontent
  -if flash[:notice]
    .ui.message
      %p= flash[:notice]
  - if admin_signed_in?
    = link_to 'New Post', new_post_path, class:'ui green button'

  #postscontainer.ui.relaxed.divided.items.two.column.row
    - @posts.each do |post|
      .item.row
        .ui.medium.image.bordered.column
          = image_tag post.image.url(:small), class:'postimage'
        .content.column
          .postcontent.ui.container
            .ui.segment
              %h4.ui.header
                = link_to post.title, post
              = truncate(post.content, :length => 300, :omission => "" , :escape => false)+'...'
              .meta
                %p Posted On:
                = post.created_at.to_date.strftime('%B %d %Y')

              - if admin_signed_in?       
                .extra
                  = link_to 'Edit ', edit_post_path(post)
                  = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
