%p#notice= notice

%p
  %b Title:
  = @post.title
= image_tag @post.image.url(:medium)
.ui.segment
  = @post.content.html_safe

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
