!!!
%html
  %head
    %title PczRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'ckeditor/ckeditor.js'
    = csrf_meta_tags
  %body
  #mainmenu.ui.stackable.container.menu
    = link_to "News", posts_path, class: "item"
    = link_to "Ratings", players_path, class: "item"
    = link_to "Tournaments", tournaments_path, class: "item"
    = link_to "Shop", products_path, class: "item"
    - if admin_signed_in?
      .right.menu
        .item
          %p Logged in as: 
          = current_admin.email
        .item
          = link_to " Change Password", edit_admin_password_path
        .item
          = link_to " Sign Out", destroy_admin_session_path,:method => :delete, :data => { :confirm => 'Are you sure?' }        

  = yield