!!!
%html
  %head
    %title PczRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'ckeditor/ckeditor.js'
    = csrf_meta_tags
  %body
  .ui.stackable.container.menu
    = link_to "News", posts_path, class: "item"
    = link_to "Ratings", players_path, class: "item"
    = link_to "Tournaments", tournaments_path, class: "item"

  = yield