!!!
%html
  %head
    %title PczRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'ckeditor/ckeditor.js'
    = csrf_meta_tags
  %body
    .ui.grid.container
      = yield