!!!
%html
  %head
    %title Project Chess Zambia - Promoting Education Through Chess
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'ckeditor/ckeditor.js'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
  #mainmenu.ui.sticky
    .ui.menu.grid.stackable
      .item.two.wide.column
        = link_to (image_tag 'logo1.jpg', class:'ui image'), root_path, id:'sitelogo'
      #sitename.item.six.wide.column
        %h2.ui.header.sitename Project Chess Zambia
      .item.eight.wide.column
        #navmenu.ui.green.inverted.menu.stackable
          = link_to "News", posts_path, class: "item"
          = link_to "Ratings", players_path, class: "item"
          = link_to "Tournaments", tournaments_path, class: "item"
          - if admin_signed_in?
            .right.menu
              .item
                %p Logged in as: 
                = current_admin.email
              .item
                = link_to " Change Password", edit_admin_password_path
              .item
                = link_to " Sign Out", destroy_admin_session_path,:method => :delete, :data => { :confirm => 'Are you sure?' }
          - else
            .right.menu
              .item
                %i.facebook.icon        
              .item
                %i.twitter.icon


  = yield
